<%- include ("../common/nav") -%>

<h2>Login</h2>
<form method="POST" action="">
    email <input type="text" name="email">
    <br>
    password <input type="password" name="password">
    <br>
    <input type="submit">

</form>